<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQQXydXp3PhmddZuGiHVR894CvEahyt90</string>
	<key>GCM_SENDER_ID</key>
	<string>312700713374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulasozturk.RegisterLesson</string>
	<key>PROJECT_ID</key>
	<string>registerlesson-82226</string>
	<key>STORAGE_BUCKET</key>
	<string>registerlesson-82226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312700713374:ios:34cd07d6f1054960357e8f</string>
</dict>
</plist>